@font-face {
    font-family: 'Montserrat-Bold';
    src: url("./Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url("./Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
    src: url("./Montserrat-SemiBold.ttf");
}
